body {
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    background-color: bisque;
    color: #000;
}

div, header, nav, ul, h1, h2, p, img {
    box-sizing: border-box;
}

/* ----------  Header Section  ---------- */

.header {
    /*Acá la imagen esta introducida desde el css, como un estilo, no es un elemento del flujo como tal, solo que al background, que ya de por si existe, en vez de ser un color, es una imagen. El backgroudn-size: cover es porque la img al ser más chica que la resolución de la pantalla, estaba como varias veces repetida para llenar el espacio, y con la propiedad lo que hice fue una sola imagen cubriera el total de la pantalla, quedando más prolijo y cumpliendo lo que quería que hiciera.*/
    display:flex;
    min-height: 100vh;
    background-image: url("Cañon del Atuel.jpg");
    background-size: cover;
}

.header__overlay {
    /*El overlay es una caja dentro del header 1 de 2, que con el w y h tapa todo, con el absolute no afecta el flujo del programa, index para que quede abajo de las letas, qu es el segundo elemento del header y opacity para que no tape completamente la imagen del header. Queda entre 2 "capas".*/
    min-height: 100vh;
    width: 100%;
    background-color: bisque;
    opacity: .4;
    position:absolute;
    z-index: 1;
}

.header__item-container {
    /*Segundo elemento hijo del header. El relative y el orden en el que esta, hace que en el flujo quede por encima del absolute, pero todavia siendo parte del flujo de la página. El z-index más alto hace que esté por encima del absolute. El margin auto centra la caja contenedora, que tiene el h1 y el p dentro,y el text align para centrar el texto, si eso, la caja(que tiene el texto) queda en el medio de la página pero el texto queda justificado a la izquierda. Necesito los 2 para centrar totalmente.*/
    position: relative;
    z-index: 10;
    margin: auto;
    text-align: center;
    max-width: 700px;
}

.header__item-container p {
    text-wrap: pretty;
}
.header__img {
    min-width: 250px;
    max-width: 50%;
    border-radius: 50%;
    border: 6px solid #fff;
    margin: 20px;
}


h1{
    margin: 0;
    font-size: 3.2rem;
    text-wrap: balance;
}


/* ----------  Navbar Section  ---------- */

.nav {
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 8px 20px;
    position: sticky;
    top: 0;
    margin-bottom: 20px;
    box-shadow: 0 0 25px #0006;
}

.nav__ul {
    /*Acá de veía una franja de color sobrante del header, y el problema era el margin del nav__ul, trate de hacerlo directo con el nav pero no es de ahí el problema.
    Investigando un poco, los div por defecto no tienen margin, pero los ul sí. (generalmente 16px o 1em de margen y 40px o 2.5em de padding-left). Esto suele causar el problema llamado sangría.*/
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    padding: 20px 0 0 0;
    justify-content: center;
     
}

.nav__item {
    /* El display: inline-block acá se aplica a cada item de la lista, osea a cada il. Les dá caracteristicas de inline, con lo cual se pueden poner uno al lado del otro. Esta es una forma de hacerlo, otra es con display: flex en el nav__ul y esto pasan a ser flex hijos.*/
    list-style: none;
}

.nav__link{
    /*Estos link están cada uno dentro de un il, al aplicarle el display lo único que hace es espaciarlos más cuando su contenedor todavía no tenía un display. Ahora no sé si realmente sirve para algo.
    Por lo que ví, como el nav__link está justo dentro del nav__item y son casi iguales(porque nav__item no tiene nada aparte de estos a->nav__link) entonces características como el paddind y el margin se comportan igual lo ponga en uno u otro.*/
    text-decoration: none;
    color:rgb(216, 110, 11);
    display: inline-block;
    padding: 10px;
    border-radius: 0;
    transition: background-color .3s, border-radius .2s, outline .3s, outline-offset .3s;
    outline: 0;
    outline-offset: 0;
}

.nav__link:hover {
    /*El transition se le da al elemento base, especificando que cualquier evento o transformación va a suceder en el tiempo que el item/caja original especifique.
    El ouline*/
    background-color: rgb(236, 194, 155);
    border-radius: 15px;
    outline: 2px solid rgb(216, 110, 11);
    outline-offset: -7px
}

.link--login{
    background-color: rgb(204, 126, 30);
    color: #fff;
    border-radius: 15px;
    padding: 8px 24px;
    margin-left: 10px;
}   

.link--login:hover {
    background-color: rgb(243, 157, 51);
    outline: none;
}

.nav__ul-container{
    flex-grow: 4;
    text-align: center;
}

.nav__logo-container {
    flex-grow: 1;
    text-align: center;
}

.nav__logo {
    width: 70px;
}